.CourseList-container {
    padding: 2rem;
}

#CourseList {
    width: 100%;
    text-align: left;
    border: 1px solid lightgrey;
}

thead tr:first-of-type th {
    text-align: center;
    border-bottom: 2px solid lightgrey;
}

th {
    border-bottom: 2px solid lightgrey;
    padding: 5px 0;
}