body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: black;
}

#logo {
    width: 200px;
    height: 200px;
    background: url('../../assets/holberton-logo.jpg');
    background-size: 200px 200px;
}