/* Login ============================= */

.App-login {
    margin: 3rem 2rem;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 400;
}
  
.App-login label {
    margin-right: 8px;
}
  
.App-login input {
    border: 1px solid rgba(128, 128, 128, 0.507);
    padding: 3px;
    margin-right: 8px;
}
  
.App-login button {
    margin-left: 8px;
    border-radius: 5px;
    border: 0.5px solid rgba(128, 128, 128, 0.507);
    padding: 3px 10px;
    background-color: white;
    box-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
  
.App-login button:hover {
    background-color: rgba(219, 219, 219, 0.477);
}